.search-input {
    flex: 1;
    width: 100%;
    max-width: 250px;
    min-width: 150px;
    border-radius: 6px;
    padding: 6px 10px;
    height: 100%;
    border: 1px solid #ccc;
    outline: none;
    background-color: white;
  }
  
  .search-input:focus {
    border-color: #1e88e5;
    box-shadow: 0 0 0 1px #1e88e5;
  }
  
  @media (max-width: 480px) {
    .search-input {
      max-width: 100%;
      width: 100%;
    }
  }
  
  
