.tenants-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 16px;
  overflow-y: hidden;
  box-sizing: border-box;
  background-color: #f6f8fa;
}



.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
 
}

.page-header h2 {
  margin: 0;
  font-size: 20px;
 
  
}

.page-actions {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  align-items: center;
}

.search-input {
  flex: 1; 
  min-width: 150px;
  outline: none;
   width: 100%;
  max-width: 250px;
  border-radius: 6px;
  background-color: #00568D;
}

.add-tenant-button {
  white-space: nowrap;
}

.add-tenant-button:hover {
  background-color: #1e88e5;
  border-color: #1e88e5;
}

/* Table Styling */
.ant-table {
  background: #ffffff;
  border-radius: 12px;
  overflow: auto;
}

.ant-table-thead > tr > th {
  background-color: #e6f7ff;
  font-weight: 600;
  font-size: 14px;
  color: #00568D;
}

.ant-table-tbody > tr > td {
  font-size: 14px;
}

.custom-table-row:hover {
  background-color: #e6f7ff !important;
}

.ant-pagination {
  margin-top: 16px;
  justify-content: center;
}

/* Action Buttons */
.ant-btn-link {
  padding: 0;
  color: #1890ff;
}

.ant-btn-link svg {
  font-size: 18px;
}

@media (max-width: 768px) {
  .page-header {
    flex-direction: column;
    align-items: stretch;
  }

  .page-actions {
    flex-direction: row;
    width: 100%;
  }

  .search-input,
  .add-tenant-button {
    width: 100%;
  }
}
