:root {
  --sidebar-width: 220px;
  --topbar-height: 70px;
}


.sidebar {
  position: fixed;
  top: var(--topbar-height); 
  left: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--topbar-height));
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  padding: 20px 10px;
  box-sizing: border-box;
  z-index: 100;
  transition: transform 0.3s ease;
}


.sidebar.hidden {
  transform: translateX(-100%);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
  padding-left: 10px;
}

.logo img {
  width: 30px;
  height: 30px;
}

.logo-text {
  font-size: 20px;
  font-weight: 600;
  color: #00568D;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 6px;
}

.nav-links a.active,
.nav-links a:hover {
  background-color: #42A5F5;
  color: white;
}

.sidebar.hidden {
  display: none;
}

.sidebar.show {
  display: block;
}

.mobile-sidebar {
  position: absolute;
  width: 100%;
  z-index: 1000;
  border-right: none;
  border-bottom: 1px solid #ccc;
  background-color: white;
  top: 0;
  left: 0;
}



.bottom-icon {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: auto;
}

/* .bottom-icon:hover {
  background-color: #004577;
} */


.messaging-icon {
  padding-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}

.messaging-icon:hover {
  background-color: #f5f5f5;
  border-radius: 8px;
}



/* Mobile styles */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }
  .sidebar {
    width: 100%;
    position: absolute;
    z-index: 1000;
    top: 70px; /* below topbar */
    left: 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
  }
}

